<%= form_for(@mypage, url: choose_new_or_edit) do |f| %>

  <% if @mypage.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @mypage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="panel panel-default">
    <div class="panel-heading">ツイートする</div>
      <div class="panel-body">
        <%= f.text_field :content, class: 'form-control' %>
        <br>
        <%= f.submit'tweet', class: 'btn btn-primary btn-block' %>
        <% end %>
        <br>
        <%= link_to '戻る', :back %>
      </div>
    </div>
  </div>




